body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px;
}

h1 {
    color: #333;
}

#tableWrapper {
    width: 100%;
    border-collapse: collapse;
}

#tableWrapper th,
#tableWrapper td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Zebra striping  (change color every row) */
#tableWrapper tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* light gray */
}

#tableWrapper tbody tr:nth-child(odd) {
    background-color: #ffffff; /* white */
}